h1 {
    background-color: cadetblue;
    color: whitesmoke;
    font-family: Verdana;
    font-size: medium;
    position: center;
}

.hbar1 {
 display: inline;
 margin: 15px;
}

.h2{
    background-color: aqua;
}