h1 {
    background-color: cadetblue;
    color: whitesmoke;
    font-family: Verdana;
    font-size: medium;
    position: center;
    padding-left: 10px;
    padding-top: 10px;
    width: 99%;   
}

form{
    margin-left: 10px;
}

body{
    margin-left: 1%;
}

.hbar1 {
 display: inline;
 margin: 15px;
}

.h2{
    background-color: aqua;
}