{% extends 'myapp/base.html' %}
{% block title %}Details{% endblock %}
{% block body_block %}
    <p>{{ cat }}</p>
    <p>{{ warehouse_loc }}</p>
    {% if prod_list %}
        <ol>
            {% for prod in prod_list %}
                <li> {{ prod }} </li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no products!</strong>
    {% endif %}
    <p><a href="{% url 'myapp:index' %}">Index page</a></p>
    <p><a href="{% url 'myapp:about' %}">About page</a></p>
{% endblock %}